<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<a href="/products/new">Add New Product</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Material</th>
        <th>Sole</th>
        <th>Actions</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">ID</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.description}">Description</td>
        <td th:text="${product.category.nameCategory}">Category</td>
        <td th:text="${product.brand.nameBrand}">Brand</td>
        <td th:text="${product.material.name}">Material</td>
        <td th:text="${product.sole.name}">Sole</td>
        <td>
            <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
            <a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
