<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Staff</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Create Staff</h1>
    <form th:action="@{/staff}" th:object="${staff}" method="post">
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" th:field="*{code}" placeholder="Enter code">
            <div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter first name">
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter last name">
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="lastName">Description</label>
            <input type="text" class="form-control" id="descripton" th:field="*{description}" placeholder="Enter descripton">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter phone number">
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" th:field="*{gender}">
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter password">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="status">Role</label>
            <select class="form-control" id="role" th:field="*{role}">
                <option value="1">Admin</option>
                <option value="0">Staff</option>
            </select>
            <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option value="1">Active</option>
            </select>
            <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
