<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Address</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update Address</h1>
    <form th:action="@{/address/update/{id}(id=${address.id})}" th:object="${address}" method="post">
        <div class="form-group">
            <label for="nameAddress">Name Address</label>
            <input type="text" class="form-control" id="nameAddress" th:field="*{nameAddress}">
            <span th:if="${#fields.hasErrors('nameAddress')}" th:errors="*{nameAddress}">Name Address Error</span>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input type="number" class="form-control" id="status" th:field="*{status}">
            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
