<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org" >
<head th:replace=" fragment/fragment :: html_head">
</head>
<body>
    <!-- start footer Area -->
    <footer class="footer-area section_gap" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Liên hệ với chúng tôi</h6>
                        <a href="#" style="color: gray">
                            <p>
                                Hướng dẫn đặt hàng
                            </p>
                        </a>
                        <a href="#" style="color: gray">
                            <p>
                                Thông tin thanh toán
                            </p>
                        </a>
                        <a href="#" style="color: gray">
                            <p>
                                Chính sách giao hàng và nhận hàng
                            </p>
                        </a>
                        <a href="#" style="color: gray">
                            <p>
                                Liên hệ
                            </p>
                        </a>
                        <a href="#" style="color: gray">
                            <p>
                                Giới thiệu về chúng tôi
                            </p>
                        </a>
                    </div>
                </div>

                <div class="action">
                    <h6>Thông tin shop</h6>
                    <ul class="clearfix action_footer">
                        <li class="clearfix margin-bottom">
                            <div class="clearfix">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>

                            </div>
                        </li>
                        <li class="clearfix margin-bottom">
                            <div class="clearfix">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>

                            </div>
                        </li>
                        <li class="clearfix margin-bottom">
                            <div class="clearfix">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                <a href="tel:0865562385" title="Liên hệ nhanh" data-wpel-link="internal" style="color: gray; padding-left: 5px;">
                                    086.5562.385
                                </a>
                            </div>
                        </li>
                        <li class="clearfix margin-bottom">
                            <div class="email">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:nguyenvanchuan13012001@gmail.com" style="color: gray; padding-left: 5px;">
                                    nguyenvanchuan13012001@gmail.com
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fb-page ml-2"
                     data-href="https://www.facebook.com/GiayBamBui"
                     data-width="380"
                     data-hide-cover="false"
                     data-show-facepile="false">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Theo dỗi chúng tôi</h6>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> Mọi quyền được bảo lưu | Mẫu này được làm bởi <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0" nonce="AmOqa4Oo"></script>
    </footer>
    <!-- End footer Area -->
</body>
