<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragment :: html_head">
  <meta charset="UTF-8">
  <style>
    .nav-item.active .nav-link {
      background-color: yellow; /* Màu nền vàng cho mục đang hoạt động */
      color: black; /* Màu chữ nếu cần */
    }
  </style>
</head>
<body>
<!-- Start Header Area -->
<header class="header_area sticky-header" th:fragment="header">
  <div class="main_menu" >
    <nav class="navbar navbar-expand-lg navbar-light main_box">
      <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" th:href="@{/}"><img src="img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent" >
          <ul class="nav navbar-nav menu_nav ml-auto" >
            <li class="nav-item" th:classappend="${currentUrl == '/' ? 'active' : ''}"><a class="nav-link" th:href="@{/}">Trang chủ</a></li>
            <!-- Shop -->
            <li class="nav-item submenu dropdown"  th:classappend="${currentUrl == '/product' ? 'active' : ''}">
              <a href="category" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Cửa hàng</a>
              <ul class="dropdown-menu" >
                <li class="nav-item"><a class="nav-link" th:href="@{/product}">Danh sách sản phẩm</a></li>
                <div th:each="brand: ${listBrandsReputation}">
                  <li class="nav-item">
                    <a class="nav-link" th:text="${brand.nameBrand}" th:href="@{/products(name=${brand.nameBrand})}"></a>
                  </li>
                </div>
              </ul>
            </li>

            <!-- Gio hang -->
            <li class="nav-item submenu dropdown" th:classappend="${currentUrl == '/cart' ? 'active' : ''}">
              <a th:href="@{/cart}" class="nav-link dropdown-toggle" role="button" >Giỏ hàng</a>
            </li>
            <li class="nav-item" th:classappend="${currentUrl == '/contact' ? 'active' : ''}"><a th:href="@{/contact}" class="nav-link" href="contact">Liên Hệ</a></li>
            <li class="nav-item" th:classappend="${currentUrl == '/user/profile' ? 'active' : ''}"><a th:href="@{/user/profile}" class="nav-link" href="contact">User</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Header Area -->

</body>
</html>
