<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Material</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Create Material</h1>
    <form th:action="@{/category/add}" th:object="${category}" method="post">
        <div class="form-group">
            <label for="nameCategory">Name:</label>
            <input type="text" class="form-control" id="nameCategory" th:field="*{nameCategory}">
            <small class="text-danger" th:if="${#fields.hasErrors('nameCategory')}" th:errors="*{nameCategory}"></small>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" th:field="*{status}">
                <option value="1" th:selected="${category.status == 1}">Active</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
