<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Material List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Material List</h1>
    <a class="btn btn-primary" th:href="@{/material/new}">Add New Material</a>

    <form th:action="@{/material}" method="get" class="form-inline mt-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Create Date</th>
            <th>Update Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="material : ${materials}" th:if="${material.status != 2}">
            <td th:text="${material.id}">1</td>
            <td th:text="${material.name}">Nike</td>
            <td th:text="${material.code}">Nike</td>
            <td th:text="${material.createDate}">2022-01-01</td>
            <td th:text="${material.updateDate}">2022-01-01</td>
            <td th:text="${material.status == 1 ? 'Active' : 'InActive'}">Active</td>
            <td>
                <a class="btn btn-info" th:href="@{/material/edit/{id}(id=${material.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/material/{id}(id=${material.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/material?page=0}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="pageNo : ${#numbers.sequence(0, totalPages-1)}" th:class="${currentPage == pageNo ? 'page-item active' : 'page-item'}">
                <a class="page-link" th:href="@{/material?page=__${pageNo}__}" th:text="${pageNo + 1}">1</a>
            </li>
            <li th:class="${currentPage == totalPages-1 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/material?page=__${totalPages-1}__}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
