<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
<h1>Product Details</h1>
<a href="/productDetails/new">Create New Product Detail</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Size</th>
        <th>Color</th>
        <th>Product</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productDetail : ${productDetails}">
        <td th:text="${productDetail.id}"></td>
        <td th:text="${productDetail.quantity}"></td>
        <td th:text="${productDetail.price}"></td>
        <td th:text="${productDetail.size.sizeNumber}"></td>
        <td th:text="${productDetail.color.name}"></td>
        <td th:text="${productDetail.product.name}"></td>
        <td>
            <a th:href="@{/productDetails/edit/{id}(id=${productDetail.id})}">Edit</a>
            <a th:href="@{/productDetails/delete/{id}(id=${productDetail.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
